h1,
h2 {
  font-family: Lato;
}
div.text {
  font-family: Helvetica;
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
}
.myDiv {
  border: 1px outset red;
  background-color: DeepSkyBlue;   
  color: White;
  text-align: center;
}
